:root {
    --main-bg: #E6E6E6;
    --strip-bg: #F0F0F0;
    --design-icon: #E6563B;
    --develop-icon: #DEA03D;
    --support-icon: #7CB06C;
    --host-icon: #00ABA9;
}

div.white-strip{
    background-color: white;
    width: 100%;
    height: 16em;
    position:relative;
    z-index: 1000;

}

div.profile-logo {
    display: flex;
    justify-content: center

}

.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.nav-item {
    list-style-type: none;
    display: inline-block;
    padding: 1.5em;

}

.nav-link {
    color: black;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}

.nav-link:hover {
    color: #E6563B;
}

body, html {
    background-color: var(--main-bg);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
    position: absolute;
}

h1 {
    color: black;
    font-family: 'Anton', sans-serif;
}

h1 {font-size: 4em;}
h2 {font-size: 3em;}
h3 {font-size: 2.5em;}
h4 {font-size: 2em;}
h5 {font-size: 1.75em;}

div.main-icons{
    display: flex;
    justify-content: center;
    /*position: relative;*/
    font-size: 24px;
    color: white;
    margin-top: 20px;
    flex-flow: column;
}

div.icon1 {
    background-color: var(--design-icon);
    padding: 10px;
    border: 6px solid white;
}

div.icon2{
    background-color: var(--develop-icon);
    padding:10px;
    border: 6px solid white;


}
div.icon3{
    background-color: var(--support-icon);
    padding:10px;
    border: 6px solid white;
}
div.icon4 {
    background-color: var(--host-icon);
    padding: 10px;
    border: 6px solid white;
}


div.profile-logo{
    display: flex;
    justify-content: center;
}


/*.container {*/
/*    display: flex;*/
/*    !*justify-content: center;*!*/
/*    align-items: center;*/
/*    width: 100%*/
/*}*/